body {
    font-family: 'Arial', sans-serif;
}

header {
    animation: fadeIn 1s;
}

.hero{
    min-height: 70vh;
    background-image: url('https://ideogram.ai/assets/progressive-image/balanced/response/7E4T3YsAQa27HKr5g8N0BQ');
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.service, .template {
    transition: transform 0.3s, box-shadow 0.3s;
}

.service:hover, .template:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.template img {
    width: 100%; /* Ensure image is responsive */
    border-radius: 5px 5px 0 0; /* Rounded corners on top */
}

/* Typography Enhancements */
h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
}

footer p {
    margin: 0;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    header {
        padding: 40px 20px;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

.social-links a {
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-links a:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}



.template .btn {
    margin-top: 10px; /* Space above the button */
    transition: background 0.3s, transform 0.3s;
}

.template .btn:hover {
    background: #0056b3; /* Darker blue on hover */
    transform: translateY(-2px); /* Slight lift effect */
}
